.main {
    flex-grow: 1;
}


.container {
    max-width: 1272px;
    padding: 0 10px;
    margin: 0 auto;
    width: 100%;
}

.title {
    @extend %title;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 18px 35px;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    background-color: rgba(45, 45, 45, 1);
}